		<div class="footer">
			<ul class="nav" style="width:600px">
				<li><a href="index.html">首&nbsp;&nbsp;页</a></li>
				<li><a href="about.html">公司介绍</a></li>
				<li><a href="news.html">国内旅游</a></li>
				<li><a href="product.html">境外旅游</a></li>
				<li><a href="contact.html">联系我们</a></li>
			</ul>
			<ul class="tel">
				<li>地址：广东省清远市</li>
				<li>联系电话：0763-3936666</li>
				<li>邮箱：2389456890@qq.com</li>

			</ul>
			<p>版权所有&copy;SY时创有限公司</p>
		</div>

	</body>
	<script language="javascript" type="text/javascript" src="<?php echo HOME ?>js/jquery-1.8.3.min.js"></script>
	<script language="javascript" type="text/javascript" src="<?php echo HOME ?>js/wow.min.js"></script>
	<script>
		new WOW().init()
	</script>
	<script language="javascript" type="text/javascript" src="<?php echo HOME ?>js/common.js"></script>
	<script language="javascript" type="text/javascript" src="<?php echo HOME ?>js/lb.js"></script>

</html>