upload/201811176990.jpg"></a>
				<div class="date wow bounceInUp">
					<p>
						12					</p>
					<font>
						2018/11					</font>
				</div>
				<div class="text wow wobble">
					<h4 class="title"><a href="javascript:;">张家界、天门山、玻璃桥、凤凰专线5日双飞游</a></h4>
				<p><p>张家界是湖南省辖地级市，原名大庸市，辖2个市辖区（永定区、武陵源区）、2个县（慈利县、桑植县）。张家界市的地层复杂多样，造化了当地的特色景观。主要有山地、岩溶、丘陵、岗地和平原等，山地面积占总面积的76%，其中最具特色的是石英砂岩峰林地貌，为世界罕见。城市地势西北高，沿澧水向东南倾斜。</p></p>
				</div>
				<a href="javascript:;" class="details">查看详情</a>
			</li>
						<li>
				<a href="javascript:;" class="news_pic wow bounceInLeft"><img style="width: 349px;height: 183px;" src="upload/201811174084.jpg"></a>
				<div class="date wow bounceInUp">
					<p>
						12					</p>
					<font>
						2018/11					</font>
				</div>
				<div class="text wow wobble">
					<h4 class="title"><a href="javascript:;">【秋尚帝都 香山赏枫】北京双高5日跟团游</a></h4>
				<p><p>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市、国际大都市，全国政治中心、文化中心、国际交往中心、科技创新中心和综合交通枢纽，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地，也是中部战区司令部驻地。</p></p>
				</div>
				<a href="javascript:;" class="details">查看详情</a>
			</li>
					</ul>
		<ul class="page">
			<li class="pre" >
				<a href="index.php?m=home&ctl=news&page=1#tit"><img src="public/home/images/news_page_left.png"></a>
			</li>
							<li class="current"><a href="index.php?m=home&ctl=news&page=1#tit">1</a></li>
							<li ><a href="index.php?m=home&ctl=news&page=2#tit">2</a></li>
						<li class="next">
				<a href="index.php?m=home&ctl=news&page=2#tit"><img src="public/home/images/news_page_right.png"></a>
			</li>
		</ul>		<div class="footer">
			<ul class="nav" style="width:600px">
				<li><a href="index.html">首&nbsp;&nbsp;页</a></li>
				<li><a href="about.html">公司介绍</a></li>
				<li><a href="news.html">国内旅游</a></li>
				<li><a href="product.html">境外旅游</a></li>
				<li><a href="contact.html">联系我们</a></li>
			</ul>
			<ul class="tel">
				<li>地址：广东省清远市</li>
				<li>联系电话：0763-3936666</li>
				<li>邮箱：2389456890@qq.com</li>

			</ul>
			<p>版权所有&copy;SY时创有限公司</p>
		</div>

	</body>
	<script language="javascript" type="text/javascript" src="public/home/js/jquery-1.8.3.min.js"></script>
	<script language="javascript" type="text/javascript" src="public/home/js/wow.min.js"></script>
	<script>
		new WOW().init()
	</script>
	<script language="javascript" type="text/javascript" src="public/home/js/common.js"></script>
	<script language="javascript" type="text/javascript" src="public/home/js/lb.js"></script>

</html>